<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <meta charset="UTF-8" />
  <meta name="viewport" content ="width=device-width, minimum-scale=1.0, initial-scale=1.0">

  <title>The Flatiron School</title>

  <link rel='stylesheet' href="../css/style.css" type='text/css' media='all' />
  <link rel='stylesheet' href="../css/jack_icebreaker.css" type='text/css' media='all' />
  <!-- <link rel='stylesheet' href="css/style-dark.css" type='text/css' media='all' /> -->
  <link rel='stylesheet' href="../css/media-queries.css" type='text/css' media='all' />
  <link rel='stylesheet' href="../css/flexslider.css" type='text/css' media='screen' />
  <link rel='stylesheet' href="../css/font-awesome.css" type='text/css' media='screen' />
  <link rel='stylesheet' id='google_merriweather-css'  href='http://fonts.googleapis.com/css?family=Merriweather:400,700&ver=3.5' type='text/css' media='all' />
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
  <script type='text/javascript' src="../js/comment-reply.min.js"></script>
  <script type='text/javascript' src="../js/jquery.js"></script>
  <script type='text/javascript' src="../js/chirp.min.js"></script>
  <script type='text/javascript' src="../js/smooth-scroll.js"></script>
  <style type="text/css">a{color:#60BDDB}</style>
</head>

<body id="scroll-header" class="home page students">
  <!-- Begin Main Wrapper -->
  <div class="main-wrapper">
    <!-- Begin Header -->
    <div class="header-wrapper">
      <div class="header">
        <div class="header-left">
          <h1 class="logo-text">
            <a href="/" title="The Flatiron School">
              <img src="../img/the-flatiron-school-logo-sm-black.png" class="logo">
            </a>
          </h1>
        </div>
        <div class="header-right">
          <div class="menu-header-container">
            <ul id="nav" class="nav">
              <li class="menu-item">
                <a href="http://flatironschool.com/index.html">Home</a>
              </li>
              <li>
                <a href="program.html">The Program</a>
                <ul class="sub-menu">
                  <li><a href="http://flatironschool.com/program.html">Basics</a></li>
                  <li><a href="http://flatironschool.com/curriculum.html">Curriculum</a></li>
                  <li><a href="http://flatironschool.com/faculty.html">Faculty</a></li>
                  <li><a href="http://flatironschool.com/speakers.html">Guest Speakers</a></li>
                  <li><a href="http://flatironschool.com/faq.html">FAQ</a></li>
                  <li><a href="http://prework.flatironschool.com">Our Prework</a></li>
                </ul>
              </li>
              <li>
                <a href="#">The School</a>

                <ul class="sub-menu">
                  <li><a href="http://flatironschool.com/events.html">Events</a></li>
                  <li><a href="http://flatironschool.com/contact.html">Contact</a></li>
                  <li><a href="http://students.flatironschool.com/">Students</a></li>
                </ul>

              </li>
              <li><a href="http://info.flatironschool.com/summer-2013-application"><font color="#26c4ff">Apply</font></a>
              </li>
              <li>
                <a href="http://flatironschool.com/employers.html">Employers</a>
              </li>
              <li>
                <a href="http://blog.flatironschool.com/">Blog</a>
              </li>
              <li><a href="http://highschool.flatironschool.com/" target="_blank">High School</a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!-- End Header -->

    <!-- Begin Content -->  
    <div class="container">
    
    
    <div class="top-page-title-jack">
      <img src="../img/jaltman.jpg" class="student_pic">
    </div>
      <!-- Begin Title Content -->
    <div class="page-title">
      
      <h4 class="ib_main_header">Jack Altman</h4>
      <div class="social-icons">
        <a href="https://twitter.com/jaltma"><i class="icon-twitter ib-social-icons"></i></a>
        <a href="https://www.linkedin.com/pub/jack-altman/19/7a9/507/"><i class="icon-linkedin-sign ib-social-icons"></i></a>
        <a href="https://github.com/Jaltman429"><i class="icon-github ib-social-icons"></i></a>
        <a href="http://www.jackealtman.com"><i class="icon-rss ib-social-icons"></i></a>
      </div>
      <div class="link-subs">
        <ul>
          <li><a href="#scroll-about">About</a></li>
          <li>|</li>
          <li><a href="#scroll-background">Background</a></li>
          <li>|</li>
          <li><a href="#scroll-coder-cred">Coder Cred</a></li>
        </ul>
      </div>
        <div class="section section-testimonials-curriculum quote-div">
          <div id="testimonial-slider" class="flexslider">
            <ul class="testimonials slides">
              <li id="text-7" class="widget_text" style="list-style: none; display: list-item;">
                <div class="textwidget">
                  <h3>“A thing is not necessarily true because a man dies for it.” ― Oscar Wilde </h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </div>


      <!-- End Title Content -->

      <!-- Some Content on Full Width -->
      <div id="random-full-width-content" class="this-div-is-just-a-helpful-container">
        <div id="scroll-about" class="section section-services">
          <div class="section-title">
            <span class="actual-title">About</span><div class="go-to-top"><a href="#scroll-header">Go To Top</a></div>
          </div>
          <div class="services-wrap" id="equalize">
            <div id="ok-text-column-2" class="column ok-text-column" style="height: 204px;">
              <div class="services">
                <div class="services-title">
                  <h3>Work</h3>
                </div>
                <div class="clear"></div>
                <p>I'm currently doing venture capital at Hydrazine Capital, where I've made investments in a wide range of software and hardware technology startups.</p>
              </div>
            </div>
            <div id="ok-text-column-3" class="column ok-text-column" style="height: 204px;">
              <div class="services">
                <div class="services-title">
                  <h3>Education</h3>
                </div>
                <div class="clear"></div>
                <p>I graduated from Princeton in 2011 with a degree in economics and a focus on philosophy.</p>
              </div>
            </div>
            <div id="ok-text-column-4" class="column ok-text-column" style="height: 204px;">
              <div class="services">
                <div class="services-title">
                  <h3>Interests</h3>
                </div>
                <div class="clear"></div>
                <p>I'm interested in startups, Apple products, diet coke, music, chess, poker, settlers, jiu-jitsu, and lots of other things.</p>
              </div>
            </div>
      </div>

            
            <div id="random-full-width-content" class="this-div-is-just-a-helpful-container">
        <div id="scroll-coder-cred" class="section section-services">
          <div class="section-title">
            <span class="actual-title">Coder Cred</span><div class="go-to-top"><a href="#scroll-header">Go To Top</a></div>
          </div>
          <div class="services-wrap" id="equalize">
            <div id="ok-text-column-2" class="column ok-text-column" style="height: 204px;">
              <div class="services">
                <div class="services-title">
                  <h3>Current Cred</h3>
                </div>
                <div class="clear"></div>
                <p>Coming soon...</p>
              </div>
            </div>
            <div id="ok-text-column-3" class="column ok-text-column" style="height: 204px;">
              <div class="services">
                <div class="services-title">
                  <h3>Current Cred</h3>
                </div>
                <div class="clear"></div>
                <p>Coming Soon...</p>
              </div>
            </div>
            <div id="ok-text-column-4" class="column ok-text-column" style="height: 204px;">
              <div class="services">
                <div class="services-title">
                  <h3>Current Cred</h3>
                </div>
                <div class="clear"></div>
                <p>Comming Soon..</p>
              </div>
            </div>
      </div>
      <!-- End Some Full Width Content -->


      <!-- End Main Content -->

      <!-- End Sidebar -->
    </div>
    <div class="clear"></div>
    <!-- End Content -->
  </div>
  <!-- End Main Wrapper -->

  <!-- Begin Footer Widgets -->
  <div class="footer-widgets clearfix">
    <div class="footer-widgets-wrap clearfix">

      <div id="text-4" class="footer-widget widget_text">
        <h2 class="widgettitle">Contact Us</h2>
        <div class="textwidget">
          <p>
            <a href="33 West 26th St, 2nd Floor, New York, NY 10010">The Flatiron School<br/>33 West 26th St, 2nd Floor<br/>New York, NY 10010</a><br/><br/>
            <i class="icon-phone" style="padding-right: 3px;"></i> (347) 729-7911<br/> <i class="icon-envelope" style="padding-right: 3px;"></i> <a href="mailto:info@flatironschool.com">info@flatironschool.com</a>
          </p>
        </div>
      </div>

      <div id="recent-posts-2" class="footer-widget widget_recent_entries">
        <h2 class="widgettitle">
          <a href="http://blog.flatironschool.com">Recent Blog Posts</a>
        </h2>
        <ul>
          <li><a href="http://blog.flatironschool.com/post/47616402524/dearest-mama-i-must-tell-you-what-my-opinion-of">
            Reconstructionist Ada Lovelace</a></li>
          <li><a href="http://blog.flatironschool.com/post/47427005620/cacioppo-speaking-at-flatiron-school-about-my">
          Cacioppo speaking at Flatiron School</a></li>
          <li><a href="http://blog.flatironschool.com/post/44617956534/jongrover-is-dropping-some-serious-front-end">
            Jon Grover dropping front-end knowledge</a></li>
          <li><a href="http://blog.flatironschool.com/post/42945124796/programmer-of-the-day-grace-hopper">
            Programmer Of The Day: Grace Hopper</a></li>
          <li><a href="http://blog.flatironschool.com/post/42519135705/programer-of-the-day-matz">
            Programer of the day: Matz!</a></li>
        </ul>
      </div>

      <div id="ok-twitter-4" class="footer-widget ok-twitter">
        <div class="twitter-widget">
          <h2 class="widgettitle">
            Twitter <a href="http://twitter.com/flatironschool">@FlatironSchool</a>
          </h2>

          <script>Chirp({user:'FlatironSchool', max:2 })</script>
        </div>
      </div>

    </div>
  </div>
  <div class="clear"></div>
  <!-- End Footer Widgets -->

  <!-- Begin Footer -->
  <div class="footer">
    <div class="footer-text">
      <div class="footer-text-left">
        <div class="menu">
          <ul>
            <li>
              <a href="index.html">
                <i class="icon-home icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/flatironschool">
                <i class="icon-twitter icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="http://www.facebook.com/FlatironSchool">
                <i class="icon-facebook-sign icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="http://instagram.com/flatironschool">
                <i class="icon-camera-retro icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="http://www.linkedin.com/company/the-flatiron-school">
                <i class="icon-linkedin-sign icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/organizations/flatiron-school">
                <i class="icon-github-alt icon-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-text-right">
        <div class="copyright">&copy; 2013. The Flatiron School.  All Your Rights Are Belong To Us.</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- End Footer -->

  <script type='text/javascript'>var custom_js_vars={"flexslider_auto":"enabled"};</script>
  <script type='text/javascript' src="../js/custom.js"></script>
  <script type='text/javascript' src="../js/jquery.flexslider.js"></script>
  <script type='text/javascript' src="../js/jquery.tabs.min.js"></script>
  <script type='text/javascript' src="../js/jquery.fitvids.js"></script>
  <script type='text/javascript' src="../js/jquery.mobilemenu.js"></script>

  // <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33578770-1']);
    _gaq.push(['_setDomainName', 'flatironschool.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  // </script>

  // <!-- Start of Async HubSpot Analytics Code -->
  // <script type="text/javascript">
  (function(d,s,i,r) {

      if (d.getElementById(i)){return;}

      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];

      n.id=i;n.src='//js.hubspot.com/analytics/'+(Math.ceil(new Date()/r)*r)+'/69751.js';

      e.parentNode.insertBefore(n, e);

  })(document,"script","hs-analytics",300000);

  document.getElementById('#background').scrollIntoView();

  // </script>
  <!-- End of Async HubSpot Analytics Code -->

  <script type="text/javascript">
    jQuery('a').smoothScroll({offset: -112, speed: 1000});
    jQuery('.go-to-link a').smoothScroll();
  </script>

</body>
</html>

